<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>servlet.BsStartServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BsUserAction</servlet-name>
        <servlet-class>action.BsUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BsCategoryAction</servlet-name>
        <servlet-class>action.BsCategoryAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BsBookAction</servlet-name>
        <servlet-class>action.BsBookAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BsOrderAction</servlet-name>
        <servlet-class>action.BsOrderAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BsCartAction</servlet-name>
        <servlet-class>action.BsCartAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BsUserAction</servlet-name>
        <url-pattern>/BsUserAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BsCategoryAction</servlet-name>
        <url-pattern>/BsCategoryAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BsBookAction</servlet-name>
        <url-pattern>/BsBookAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BsOrderAction</servlet-name>
        <url-pattern>/BsOrderAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BsCartAction</servlet-name>
        <url-pattern>/BsCartAction</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <taglib>
        <taglib-uri>http://yujian95.github.io/jstl/tag</taglib-uri>
        <taglib-location>/WEB-INF/BsTag.tld</taglib-location>
    </taglib>

</web-app>
