<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>servlet.BsStartServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <!--这里是指，这个servlet的执行范围-->
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
    <!--<filter-name>SessionFilter</filter-name>-->
    <!--<filter-class>filter.SessionFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>SessionFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <taglib>
        <taglib-uri>http://yujian95.github.io/jstl/tag</taglib-uri>
        <taglib-location>WEB-INF/tag.tld</taglib-location>
    </taglib>
</web-app>
